@tailwind base;
@tailwind components;
@tailwind utilities;

.gifbg {
  position: absolute;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: rgb(0, 0, 0);
  color: #FFFFFF;
  z-index: 102;
}

.gifbg {
  position: absolute;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: rgb(0, 0, 0);
  color: #FFFFFF;
  z-index: 101;
}

.gifbg video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: .9;
}

@media (max-height: 725px) {
  .homeLogo {
    display: none;
  }
}

@media (max-width: 490px) {
  .homeLogo {
    display: none;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(30, 17, 0, 0.51);
  mix-blend-mode: overlay;
}

.overlay2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(62, 35, 0, 0.586);
  mix-blend-mode: overlay;
}

.text {
  position: relative;
  z-index: 102;
  margin: 5%;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.702);
  max-width: 70vw;
  border: rgb(0, 0, 0) 1px solid;
}

.text h2 {
  font-size: 4em;
  font-weight: 800;
  line-height: 2em;
  text-transform: uppercase;
}

.text h3 {
  font-size: 3em;
  font-weight: 800;
  line-height: 2em;
  text-transform: uppercase;
}

.text h4 {
  font-size: 2em;
  font-weight: 800;
  line-height: 2em;
  text-transform: uppercase;
  text-align: center;
}

.text p {
  font-size: 1.2em;
  font-weight: 400;
  margin: 20px 0 40px 0;
  max-width: 700px;
}

@media (max-width: 700px) {

  .text h2 {
    font-size: 3em;
    font-weight: 800;
    line-height: 2em;
    max-width: 50vw;
    text-transform: uppercase;
  }

  .text p {
    font-size: 1.2em;
    font-weight: 400;
    margin: 20px 0;
    max-width: 80vw;
  }
}